@model aser_electrification.Models.Village

@{
    ViewData["Title"] = "Details";
}

<hr />
<div class="d-flex justify-content-center align-items-center">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header text-black bg-purple-light text-center">Détails du Village</div>
            <div class="card-body">
                <h4 class="card-title">Informations sur le Village</h4>
                <hr />
                <dl class="row">
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.Nom_Village)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.Nom_Village)
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.Identifiant_Village)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.Identifiant_Village)
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.Longitude)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.Longitude)
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.Latitude)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.Latitude)
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.Nombre_Menages)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.Nombre_Menages)
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.Statut_Electrification)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.Statut_Electrification)
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.Commune)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.Commune.Nom_Commune)
                    </dd>
                </dl>
                <div class="d-flex justify-content-between mt-4">
                    <a asp-action="Edit" asp-route-id="@Model?.ID_Village" class="btn btn-warning">
                        <i class="fas fa-edit"></i> Modifier
                    </a>
                    <a asp-action="Index" class="btn btn-secondary">
                        <i class="fas fa-backspace"></i> Retourner à la liste
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
