@model IEnumerable<aser_electrification.Models.Region>
@{
    ViewData["Title"] = "Index";
    Pager pager = new Pager();
    int pageNo = 0;
    if (ViewBag.Pager != null)
    {
        pager = ViewBag.Pager;
        pageNo = pager.CurentPage;
    }
}
<div>
    <div class="d-flex mb-2">
        <h5 class="card-title flex-grow-1">Liste des régions</h5>
        <div class="d-flex">
            <a class="btn btn-success btn-sm" asp-action="Create"><i class="fas fa-user-plus"></i> Ajouter une nouvelle région</a>
            <form asp-action="Index" method="get" class="d-flex align-items-center ms-2">
                <div class="input-group">
                    <input type="text" name="searchString" value="@ViewData["CurrentFilter"]" class="form-control" placeholder="Rechercher..." />
                    <button type="submit" class="btn btn-primary">
                        <i class="fas fa-search"></i> Rechercher
                    </button>
                </div>
            </form>
        </div>
    </div>
    @if (!string.IsNullOrEmpty(ViewData["CurrentFilter"] as string))
    {
        <div class="mb-2">
            <a asp-action="Index" class="btn btn-secondary">Réinitialiser la recherche</a>
        </div>
    }
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th class="text-center">ID</th>
                <th class="text-center">Nom Région</th>
                <th class="text-center">Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td class="text-center">
                        @Html.DisplayFor(modelItem => item.ID_Region)
                    </td>
                    <td class="text-center">
                        @Html.DisplayFor(modelItem => item.Nom_Region)
                    </td>
                    <td class="text-center">
                        <a asp-action="Edit" asp-route-id="@item.ID_Region" class="btn btn-sm btn-warning me-2"><i class="fas fa-edit"></i> Modifier</a>
                        <a asp-action="Details" asp-route-id="@item.ID_Region" class="btn btn-sm btn-info me-2"><i class="fas fa-info-circle"></i> Détails</a>
                        <a asp-action="Delete" asp-route-id="@item.ID_Region" class="btn btn-sm btn-danger"><i class="fas fa-trash"></i> Supprimer</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <partial name="_pager" model="@pager" />
</div>